<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
  <title>Home Page</title>
  <style>
    body {
      background: skyblue;
      font-family: "verdana";
      color: #fff;
      padding: 30px;
    }

    h1 {
      font-size: 48px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
    }

    p {
      font-size: 16px;
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>404:</h1>
  <p>Nothing here. You shall not proceed farther than this</p>
</body>

</html>