<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title>Home Page</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- Fonts CDN -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" />

    <!-- local css files -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/master.css" />
</head>

<body>
    <% include partials/signedInNav.ejs %> <% include partials/nav.ejs %>

    <!-- Main body component -->
    <main class="body-content-wrapper cci-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-success hide" role="alert">
                        Connection Created
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main body component end -->
    <% include partials/footer.ejs %>
</body>

</html>