<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
  <title>Home Page</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <!-- Fonts CDN -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <!-- local css files -->
  <link rel="stylesheet" type="text/css" href="../../assets/css/master.css" />
</head>

<body class="index">
  <% include partials/signedInNav.ejs %> <% include partials/nav.ejs %>
  <span class="tutorial">
    <i class="fas fa-gamepad"></i>
    <span class="tut-text">
      TUTORIAL
    </span>
  </span>
  <!-- Main body component -->
  <main class="body-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="jumbotron">
            <h1 class="display-4">Welcome to CCI Connections site.</h1>
            <p class="lead">
              Attend and create CCI events to connect with people.
            </p>
            <hr class="my-4" />
            <p>Connect with anyone who share the same interests as you do.</p>
            <p>
              Click on the connections link on the top right or the button
              below.
            </p>
            <div class="btn-holder">
              <a class="btn btn-primary btn-lg" href="connections.ejs" role="button">Connections</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Main body component end -->

  <% include partials/footer.ejs %>
</body>

</html>

<script>
  $('.tutorial').on('click', function () {
    $('.tutorial').addClass('stop')
    $('.btn-holder').addClass('tutorial-btn')
    $('.btn-holder').append('<span class = "tutorial-1"><i class="far fa-hand-point-left"></i>Click here to view all connections<button id="next" class="btn btn-sm btn-dark">Next</button></span>')
    $('.btn-dark').on('click', function () {
      $('.btn-holder').removeClass('tutorial-btn')
      $('.tutorial-1').remove()
      $('.view-connections').addClass('tutorial-link')
      $('.view-connections').append('<span class = "tutorial-2"><i class="far fa-hand-point-left"></i>Click here to view all connections<button id="exit" class="btn btn-sm btn-dark">Exit</button></span>')
      $('#exit').on('click', function () {
        $('.view-connections').removeClass('tutorial-link');
        $('.tutorial-2').remove()
        $('.tutorial').removeClass('stop')
      })
    })
  })

</script>