<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
  <title>Home Page</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <!-- Fonts CDN -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- local css files -->
  <link rel="stylesheet" type="text/css" href="../../assets/css/master.css" />
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker4').datetimepicker({
        format: 'L'
      });
    });
  </script>
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker3').datetimepicker({
        format: 'LT'
      });
    });
  </script>
</head>

<body class="newcon">
  <% include partials/signedInNav.ejs %> <% include partials/nav.ejs %>


  <% if(caution != ''){ %>
  <div class="bottomfix alert alert-danger" role="alert">
    <%=caution%>
  </div>
  <% } %>
  <!-- Main body component -->
  <main class="body-content-wrapper cci-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <form id="contact-form" method="POST" action="/newConnection">
            <div class="form-group row">
              <label for="cName" class="col-sm-4 col-form-label">Connection Name</label>
              <div class="col-sm-8">
                <input name="cName" value="<%= qs.cName %>" type="text" class="form-control" id="cName"
                  placeholder="Connection Name" />
              </div>
            </div>
            <div class="form-group row">
              <label for="cTitle" class="col-sm-4 col-form-label">Connection Category</label>
              <div class="col-sm-8">
                <input name="cTitle" value="<%= qs.cTitle %>" type="text" class="form-control" id="cTitle"
                  placeholder="Connection Category" />
              </div>
            </div>
            <div class="form-group row">
              <label for="chost" class="col-sm-4 col-form-label">Host Full Name</label>
              <div class="col-sm-8">
                <input name="chost" value="<%= qs.chost %>" type="text" class="form-control" id="chost"
                  placeholder="Host Full Name" />
              </div>
            </div>
            <div class="form-group row dater">
              <label for="cdate" class="col-sm-4 col-form-label">Planned date</label>
              <div class="col-sm-8">
                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                  <input name="cdate" value="<%= qs.cdate %>" type="text" class="form-control datetimepicker-input"
                    data-target="#datetimepicker4" />
                  <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="ctime" class="col-sm-4 col-form-label">What Time</label>
              <div class="col-sm-8">
                <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                  <input name="ctime" type="text" value="<%= qs.ctime %>" class="form-control datetimepicker-input"
                    data-target="#datetimepicker3" />
                  <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fas fa-clock"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="cdescription" class="col-sm-4 col-form-label">Description about this connection</label>
              <div class="col-sm-8">
                <input name="cdescription" value="<%= qs.cdescription %>" type="text" class="form-control"
                  id="cdescription" placeholder="Description about this connection" />
              </div>
            </div>
            <div class="form-group row">
              <label for="clocation" class="col-sm-4 col-form-label">Event Location</label>
              <div class="col-sm-8">
                <input name="clocation" value="<%= qs.clocation %>" type="text" class="form-control" id="clocation"
                  placeholder="Event Location" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-dark btn-block">
                  Create Connection
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </main>
  <!-- Main body component end -->
  <% include partials/footer.ejs %>
</body>
<script>
  $('#cName, #cTitle, #chost, #cdescription, #clocation, #cID').change(function () {

    if ($('#cName').val().length < 5) {
      $('#cName').addClass('errer')
    }
    else {
      $('#cName').removeClass('errer')
    }
    if ($('#cTitle').val().length < 5) {
      $('#cTitle').addClass('errer')
    }
    else {
      $('#cTitle').removeClass('errer')
    }
    if ($('#chost').val().length < 5) {
      $('#chost').addClass('errer')
    }
    else {
      $('#chost').removeClass('errer')
    }
    if ($('#cdescription').val().length < 5) {
      $('#cdescription').addClass('errer')
    }
    else {
      $('#cdescription').removeClass('errer')
    }
    if ($('#clocation').val().length < 5) {
      $('#clocation').addClass('errer')
    }
    else {
      $('#clocation').removeClass('errer')
    }
  })

</script>

</html>